// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.docInput {
    width: 75%;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.submitDoc {
    padding: 10px;
    cursor: pointer;
}

.main-error {
    display: block;
}

#success {
    color: green !important;
    font-size: 15px;
}

.main-error {
    font-size: 15px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 16px;
}

.closings-list {
    margin-top: 20px;
}

// Tables
@media (min-width: 768px) {
}

// Escritorio
@media (min-width: 768px) {
}
